* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 20px;
	color: white;
	background: #2f2d2d;
	font-size: 20px;
}

input,
select,
button,
a {
	font-size: inherit;
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	padding: 4px 12px;
	line-height: 1;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

h1 {
	text-align: center;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}
